# Analysis and Visualization of Indian Candidates for Lok Sabha Election

# 1. Youngest candidates who participated in Lok Shabha Election?
# 2. Candidate with Highest number of Criminal Cases.
# 3. Parties with total number of criminal cases.
# 4. Education of each candidates ? Most comman education level?
# 5. Different Constituency and Criminal cases count  in 2024 Elections.

# Import Required Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
#This is a magic command specific to Jupyter Notebook means are displayed inline, that is directly within the notebook, insted of in a separate window
plt.style.use('fivethirtyeight') 
# is one of the Matplotlib's predefined styles

# Load Dataset

In [2]:
candidates_2004 = pd.read_csv("LokSabha2004.csv")
#print(candidates_2004)
candidates_2004

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Constituency,Liabilities,Winner,Gender
0,Manoranjan Bhakta,INC,0,Post Graduate,65,5926740.0,Andaman & Nicobar Islands,272061,1,M
1,A K Biswas,BSP,0,Graduate,61,7876500.0,Andaman & Nicobar Islands,65000,0,M
2,Asit Baran Dutta,IND,0,Graduate,50,3070000.0,Andaman & Nicobar Islands,0,0,M
3,Bishnu Pada Ray,BJP,0,Graduate,54,1250619.0,Andaman & Nicobar Islands,128710,0,M
4,Deepak Biswas,IND,0,Not Given,28,3000.0,Andaman & Nicobar Islands,0,0,M
...,...,...,...,...,...,...,...,...,...,...
3637,Susmita Bauri,CPM,0,Graduate Professional,29,33000.0,Vishnupur,10000,1,F
3638,Achintya Majhi,INC,0,Graduate,38,67264.0,Vishnupur,50050,0,M
3639,Ajoy Bauri,BSP,0,Not Given,40,35000.0,Vishnupur,0,0,M
3640,Janardan Saha,AITC,0,Post Graduate,37,233612.0,Vishnupur,14000,0,M
3641,Sraban Mondal,IND,0,Graduate,40,NaN,Vishnupur,0,0,M

In [3]:
candidates_2009 = pd.read_csv("LokSabha2009.csv")
#print(candidates_2009)
candidates_2009

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Constituency,Liabilities,Winner,Gender
0,Shri Bishnu Pada Ray,BJP,1,Graduate,59,1241034.0,Andaman & Nicobar Islands,0,0,M
1,Shri P. R. Ganeshan,RJD,0,Not Given,71,329563.0,Andaman & Nicobar Islands,0,0,M
2,Shri Pradeep Kumar Ekka,JDP,0,Others,37,410000.0,Andaman & Nicobar Islands,0,0,M
3,Shri T. Ali,IND,0,12th Pass,37,445957.0,Andaman & Nicobar Islands,296000,0,M
4,Shri Tapan Kumar Bepari,CPM,0,Post Graduate,52,3986000.0,Andaman & Nicobar Islands,0,0,M
...,...,...,...,...,...,...,...,...,...,...
7915,Narendra Nath Mandal,BSP,0,Graduate Professional,67,2726000.0,Uluberia,0,0,M
7916,Rabin Dalui,RDMP,0,12th Pass,45,1685600.0,Uluberia,124,0,M
7917,Rahul Chakrabarty,BJP,0,Graduate,38,3100000.0,Uluberia,0,0,M
7918,Sekh Aorangjeb,IND,0,Post Graduate,44,389102.0,Uluberia,0,0,M
7919,Swapan Das,IND,0,10th Pass,31,6000.0,Uluberia,0,0,M

In [4]:
candidates_2014 = pd.read_csv("LokSabha2014.csv")
#print(candidates_2014)
candidates_2014.head()
#head() helps you quickly view the first few rows of the dataframe.

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Constituency,Liabilities,Winner,Gender
0,Bishnu Pada Ray,BJP,1,Graduate,64,5658980.0,ANDAMAN AND NICOBAR ISLANDS,175115,0.0,M
1,A Pandian,AIFB,0,12th Pass,41,859410.0,ANDAMAN AND NICOBAR ISLANDS,350000,0.0,M
2,Anita Mondal,AITC,1,Graduate,48,5471073.0,ANDAMAN AND NICOBAR ISLANDS,6000,0.0,M
3,C G Saji Kumar,IND,0,12th Pass,41,50000.0,ANDAMAN AND NICOBAR ISLANDS,0,0.0,M
4,Gaur Chandra Majumder,BSP,0,Graduate,47,3192819.0,ANDAMAN AND NICOBAR ISLANDS,688689,0.0,M

In [5]:
candidates_2019 = pd.read_csv("LokSabha2019.csv")
#print(candidates_2024)
candidates_2019.head()

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Constituency,Liabilities,Winner,Gender
0,Kuldeep Rai Sharma,INC,0,Graduate Professional,52,132233012.0,Andaman And Nicobar Islands,80450870,1.0,M
1,Ayan Mandal,AITC,0,Graduate,30,7270440.0,Andaman And Nicobar Islands,1500000,0.0,M
2,C G Saji Kumar,All India Hindustan Congress Party,0,12th Pass,48,120000.0,Andaman And Nicobar Islands,0,0.0,M
3,C U Rasheed,IND,0,12th Pass,34,202808.0,Andaman And Nicobar Islands,1700000,0.0,M
4,Gour Chandra Majumder,IND,0,Graduate,52,6062000.0,Andaman And Nicobar Islands,0,0.0,M

# Data Contains

In [6]:
'''Candidate - Name of the candidates.
Party - Policatical Party.
Criminal Cases - Crinimals  cases against candidate.
Education - Education of candidate.
Age - Age of candidate.
Total Assets - Total assets of candidate.
Constituency - Name of constituency from candidate stand in election.
Liabilties - Total Liabilities of candidate.
Winner - Does candidate won in election that year? (0 - No, 1 - yes)
Gender - Gender of candidate. (M-Male, F-Female)'''

'Candidate - Name of the candidates.\nParty - Policatical Party.\nCriminal Cases - Crinimals  cases against candidate.\nEducation - Education of candidate.\nAge - Age of candidate.\nTotal Assets - Total assets of candidate.\nConstituency - Name of constituency from candidate stand in election.\nLiabilties - Total Liabilities of candidate.\nWinner - Does candidate won in election that year? (0 - No, 1 - yes)\nGender - Gender of candidate. (M-Male, F-Female)'

In [7]:
candidates_2004['Year'] = 2004
candidates_2009['Year'] = 2009
candidates_2014['Year'] = 2014
candidates_2019['Year'] = 2019

In [8]:
candidates_2004

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Constituency,Liabilities,Winner,Gender,Year
0,Manoranjan Bhakta,INC,0,Post Graduate,65,5926740.0,Andaman & Nicobar Islands,272061,1,M,2004
1,A K Biswas,BSP,0,Graduate,61,7876500.0,Andaman & Nicobar Islands,65000,0,M,2004
2,Asit Baran Dutta,IND,0,Graduate,50,3070000.0,Andaman & Nicobar Islands,0,0,M,2004
3,Bishnu Pada Ray,BJP,0,Graduate,54,1250619.0,Andaman & Nicobar Islands,128710,0,M,2004
4,Deepak Biswas,IND,0,Not Given,28,3000.0,Andaman & Nicobar Islands,0,0,M,2004
...,...,...,...,...,...,...,...,...,...,...,...
3637,Susmita Bauri,CPM,0,Graduate Professional,29,33000.0,Vishnupur,10000,1,F,2004
3638,Achintya Majhi,INC,0,Graduate,38,67264.0,Vishnupur,50050,0,M,2004
3639,Ajoy Bauri,BSP,0,Not Given,40,35000.0,Vishnupur,0,0,M,2004
3640,Janardan Saha,AITC,0,Post Graduate,37,233612.0,Vishnupur,14000,0,M,2004
3641,Sraban Mondal,IND,0,Graduate,40,NaN,Vishnupur,0,0,M,2004